@import url('./components/container.css');
@import url('components/helpers.css');
@import url('components/typography.css');
@import url('components//buttons.css');

:root {
    --dark-blue: #130c24;
    --primary: #f2d544;
    --black: #232020;
    --text-color: #fff;
    --gray: #999999;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}

