.title--lg {
    font-size: 5.625rem;
    line-height: 1.05;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.77;
}

.title--sm {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.06;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}